.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #d9d9d9;
	width: 100%;
	height: 100vh;
	margin-top: auto;
}

.h2 {
	margin-bottom: 20px;
	font-family: "Poppins", sans-serif;
	color: #031f4f;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	padding: 20px;
	border-radius: 10px;
}

.form input {
	width: 300px;
	height: 40px;
	margin: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-family: "Poppins", sans-serif;
}

.form button {
	width: 300px;
	height: 40px;
	margin: 10px;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #008b8b;
	color: #fff;
	font-family: "Poppins", sans-serif;
	cursor: pointer;
}
